:root:not([class="dark"]),
.light {
  --main_color: rgb(230, 37, 113);
  --secondary_color: rgb(154, 1, 23);

  --selection_color: rgba(230, 37, 113, 0.5);

  --body_color: white;
  --main_content_color: rgb(255, 218, 197);
  --header_color_1: rgba(230, 37, 113, 1);
  --header_color_2: rgba(255, 56, 85, 1);
  --header_color_3: rgba(231, 47, 120, 1);
  --header_color_title: white;
  --header_color_title_hover: black;
  --header_shadow: black;

  --default_text_color: black;
  --comment_color: white;
  --blog_article_color: white;
  --NcontactColor: rgb(230, 37, 113);

  --input_color: rgb(255, 0, 0);
  --input_color_alpha: rgba(255, 0, 0, 0.25);

  --input_login_color_text: black;

  --table_odd: #ff315b;
  --table_even: #ff9aa8;
  --select_tr: #b7001d;

  --aside_color: #3e041d;
}

/*##################################################*/
/*DARK MODE*/
/*##################################################*/
@media (prefers-color-scheme: dark) {
  :root:not([class="light"]) {
    --main_color: rgb(154, 1, 23);
    --secondary_color: rgb(175, 26, 0);

    --selection_color: rgba(154, 1, 32, 0.5);

    --body_color: rgb(64, 4, 0);
    --main_content_color: #1b0400;
    --header_color_1: black;
    --header_color_2: rgb(185, 13, 36);
    --header_color_3: black;
    --header_color_title: black;
    --header_color_title_hover: white;
    --header_shadow: rgb(154, 1, 23);

    --default_text_color: white;
    --comment_color: #1e1e1e;
    --blog_article_color: #1e1e1e;
    --NcontactColor: rgb(92, 0, 13);

    --input_color: rgb(255, 0, 0);
    --input_color_alpha: rgba(255, 0, 0, 0.25);

    --input_login_color_text: white;

    --table_odd: #a32200;
    --table_even: #7e0000;
    --select_tr: #500000;

    --aside_color: #2b0000;
  }
}

.dark {
  --main_color: rgb(154, 1, 23);
  --secondary_color: rgb(175, 26, 0);

  --selection_color: rgba(154, 1, 32, 0.5);

  --body_color: rgb(64, 4, 0);
  --main_content_color: #1b0400;
  --header_color_1: black;
  --header_color_2: rgb(185, 13, 36);
  --header_color_3: black;
  --header_color_title: black;
  --header_color_title_hover: white;
  --header_shadow: rgb(154, 1, 23);

  --default_text_color: white;
  --comment_color: #1e1e1e;
  --blog_article_color: #1e1e1e;
  --NcontactColor: rgb(92, 0, 13);

  --input_color: rgb(255, 0, 0);
  --input_color_alpha: rgba(255, 0, 0, 0.25);

  --input_login_color_text: white;

  --table_odd: #a32200;
  --table_even: #7e0000;
  --select_tr: #500000;

  --aside_color: #2b0000;
}

/*Generale*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*Ce projet a été commencé sans cette ligne, donc elle ne sera pas utilisé pour la suite*/
  color: var(--default_text_color, black);
  background-color: none;
  transition: color 0.5s, background-color 0.5s;
}

body {
  background-color: var(--body_color, white);
  font-family: Arial, Helvetica, sans-serif;
}

main img {
  max-width: 100%;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/*Couleur de selection de texte*/
::selection {
  background: var(--selection_color, rgba(230, 37, 113, 0.5));
}

::-moz-selection {
  background: var(--selection_color, rgba(230, 37, 113, 0.5));
}

/*ScrollBar*/
/*(Uniquement sur les navigateurs webkit)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
  padding-left: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary_color, rgb(154, 1, 23));
}

/*CheckBox*/
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px grey;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: var(--secondary_color, rgb(154, 1, 23));
  border: solid 1px var(--secondary_color, rgb(154, 1, 23));
}

.container #terms:checked ~ .checkmark,
.container #newsletter:checked ~ .checkmark {
  background-color: var(--main_color, rgb(230, 37, 113));
  border: solid 1px var(--main_color, rgb(230, 37, 113));
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Radio*/
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 30px;
  background-color: var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
}

.container-radio:hover input ~ .checkmark-radio {
  background-color: var(--secondary_color, rgb(154, 1, 23));
}

.container-radio input:checked ~ .checkmark-radio {
  background: linear-gradient(
    90deg,
    rgba(255, 63, 0, 1) 0%,
    rgba(255, 0, 70, 1) 100%
  );
}

.checkmark-radio:after {
  content: "";
  position: absolute;
}

.container-radio input:checked ~ .checkmark-radio:after {
  left: 16px;
}

.container-radio .checkmark-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  transition: left 0.5s;
}

/*###############################################################################*/
/*###############################################################################*/
/*HEADER*/
/*###############################################################################*/
/*###############################################################################*/

header {
  position: sticky;
  top: -100px;
  z-index: 3;
  box-shadow: 0 0 10px 0 var(--header_shadow, black);
}

header > div {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    var(--header_color_1, rgba(230, 37, 113, 1)) 0%,
    var(--header_color_2, rgba(255, 56, 85, 1)) 50%,
    var(--header_color_3, rgba(231, 47, 120, 1)) 100%
  );
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo {
  width: 5em;
  transition: transform 1s;
}

#logo:hover {
  transform: rotate(225deg);
}

h1 {
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
  color: var(--header_color_title, white);
}

h1:hover {
  color: var(--header_color_title_hover, black);
}

header > div > a {
  text-decoration: none;
}

header nav {
  clear: both;
  background-color: black;
}

#boutonmenu {
  width: 100%;
  height: 45px;
  display: none;
  z-index: 2;
  visibility: hidden;
  transition: transform 1s;
}

header nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  min-height: 34px;
}

header nav li {
  display: flex;
  justify-content: center;
  min-width: 74px;
  width: 100%;
}

header nav a,
header nav p {
  color: white;
  background-color: black;
  transition: color 1s, background-color 1s;
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

nav a:hover {
  color: black;
  background-color: white;
}

#blog {
  position: relative;
}

#connect {
  position: relative;
}

.subContent {
  display: flex;
  position: absolute;
  top: 44px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  flex-direction: column;
  overflow: hidden;
  height: 0%;
  transition: height 0.5s;
}

.subContent a, .subContent p{
  min-height: 45px;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome,
#connect div a {
  display: flex;
  justify-content: center;
  font-size: smaller;
}

#blog:hover .subContent {
  height: 325px;
}

#connect:hover .subContent {
  height: 65px;
}

#connect:hover .Connect {
  height: 130px;
}

/*Classe "Active"*/
a[class="active"] {
  background-color: var(--secondary_color, rgb(154, 1, 23));
}

/*VERSION MOBILE UNIQUEMENT*/
@media (max-width: 450px) {
  header nav {
    position: relative;
    border-top: black 5px;
    border-bottom: black 5px;
    z-index: 2;
  }

  header nav > ul {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    height: 0%;
    background-color: black;
    top: -400px;
    transition: height 1s;
    z-index: 1;
    opacity: 0%;
    justify-content: initial;
  }

  header nav > ul > li {
    justify-content: initial;
  }

  #boutonmenu {
    display: flex !important;
    align-items: center;
  }

  header nav:hover ul {
    height: 588%;
    opacity: 100%;
    top: 45px;
  }

  #blog {
    flex-direction: column;
    height: 44.4px;
    transition: height 0.5s;
  }

  #blog:hover {
    height: 369px;
  }

  #connect {
    display: flex;
    flex-direction: column;
    height: 44.4px;
    transition: height 0.5s;
  }
  .subContent {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: initial;
  }

  #connect div a {
    display: none;
  }

  #connect:hover div a {
    display: flex;
  }

  #connect:hover{
    height: 174.4px;
  }

  .subContent a,
  .subContent p {
    background-color: white;
    color: black;
  }

  /*Le menu burger fait de petits saut pour montrer
    qu'il est possible d'interagir avec lui*/
  @keyframes burger-jump {
    0% {
      top: calc(50% - (5px / 2));
    }
    3% {
      top: calc(50% - (5px / 2) - 1.5px);
    }
    4% {
      top: calc(50% - (5px / 2) + 1px);
    }
    7% {
      top: calc(50% - (5px / 2) - 1px);
    }
    8% {
      top: calc(50% - (5px / 2) + 0.5px);
    }
    10% {
      top: calc(50% - (5px / 2));
    }
    100% {
      top: calc(50% - (5px / 2));
    }
  }

  #boutonmenu_span {
    position: absolute;
    left: calc(50% - (35px / 2));
    top: calc(50% - (5px / 2));
    background-color: white;
    width: 35px;
    height: 5px;
    animation-name: burger-jump;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    z-index: 1;
  }

  #boutonmenu_span::before {
    content: "";
    position: absolute;
    top: -10px;
    background-color: white;
    width: 35px;
    height: 5px;
  }

  #boutonmenu_span::after {
    content: "";
    position: absolute;
    top: 10px;
    background-color: white;
    width: 35px;
    height: 5px;
  }

  /*Petite animation qui tourner le menu burger
    qui est devenu une croix*/
  @keyframes span-close {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(225deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }

  header nav:hover #boutonmenu_span {
    transform: rotate(45deg);
    animation-name: span-close;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }

  header nav:hover #boutonmenu_span::before {
    visibility: hidden;
  }

  header nav:hover #boutonmenu_span::after {
    transform: rotate(-90deg);
    top: 0px;
  }
}

/*VERSION PC UNIQUEMENT*/
@media (min-width: 1000px) {
  nav a {
    font-size: 15px;
  }
}

/*###############################################################################*/
/*###############################################################################*/
/*MAIN*/
/*###############################################################################*/
/*###############################################################################*/

/*Déclaration des différents types de texte dans le main*/
h2 {
  padding-top: 20px;
  margin-left: 15px;
  text-decoration: underline;
  font-size: xx-large;
  color: var(--secondary_color, rgb(154, 1, 23));
}

h3 {
  color: var(--default_text_color, black);
  font-size: x-large;
}

label {
  color: var(--default_text_color, black);
}

span {
  color: var(--default_text_color, black);
}

strong {
  color: var(--main_color, rgb(230, 37, 113));
}

em {
  color: var(--default_text_color, black);
}

.buttonAdmin{
  width: 33%;
  text-align: center;
  margin-inline: 33%;
  margin-block-start: 10px;
  background-color: var(--secondary_color);
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*------------------------------------------------------*/

main {
  display: flex;
  min-height: calc(99vh - 137px - 116px);
}

/*Remplir les pages trop petite*/
@media (max-width: 1000px) {
  main {
    min-height: calc(100vh - 134px - 116px) !important;
  }
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: var(--main_content_color, rgba(255, 35, 5, 15%));
}

@media (min-width: 1100px) {
  .side {
    width: 20% !important;
  }

  #content {
    min-width: 60% !important;
    max-width: 60% !important;
  }
}

.side {
  width: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

main p a {
  color: var(--main_color, rgb(230, 37, 113));
}

main p {
  margin: 20px;
  font-size: larger;
  color: var(--default_text_color, black);
  text-align: justify;
}

main img {
  margin: 10px;
  border-radius: 20px;
}

/*##################################################*/
/*MAIN Accueil -------------------------------------*/
/*##################################################*/

#intro {
  margin-top: 10px;
}

#blur {
  background-image: url(../img/bg-planche.jpg);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#blur > img {
  filter: blur(10px);
  transition: filter 2s;
  width: 90%;
}

#blur > img:hover {
  filter: none;
}

#savoir_plus {
  float: right;
  margin-top: 33px;
  margin-right: 53px;
  color: var(--main_color);
  font-size: large;
}

#Accueil ul {
  margin-inline: 80px;
  margin-block: 15px;
  font-size: large;
  list-style: square;
}

#Accueil ul li {
  margin-block-end: 10px;
}

/*VERSION PC UNIQUEMENT*/
@media (min-width: 1000px) {
  h2 {
    margin-left: 50px;
  }

  main p {
    margin-inline: 40px;
  }

  main img {
    margin: 40px;
    margin-block: 15px;
  }
}

/*##################################################*/
/*MAIN Contact -------------------------------------*/
/*##################################################*/
#Contact #content {
  display: flex;
}

#introduction {
  margin: 0;
  text-align: center;
  margin-block-start: 25px;
  font-size: unset;
  margin-inline: 20px;
}

#Contact #content form {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.formRow {
  display: flex;
  flex-direction: column;
  padding: 13px;
}

fieldset {
  border: solid 3px var(--secondary_color);
  border-radius: 24px;
}

legend {
  color: var(--main_color);
  margin-left: 30px;
  font-size: x-large;
}

.formRow label {
  font-size: larger;
  padding-bottom: 4px;
}

.formRow input,
select,
textarea,
option {
  border: solid 1px #cfcfcf;
  padding: 13px;
  color: black;
}

.formRow input:focus,
.formRow select:focus,
.formRow textarea:focus {
  animation-name: wave-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave-color {
  0% {
    border: solid 1px var(--input_color_alpha);
  }
  50% {
    border: solid 1px var(--input_color);
  }
  100% {
    border: solid 1px var(--input_color_alpha);
  }
}

.formRow #subject {
  background-color: rgb(255 212 229);
}

.formRow textarea {
  padding-bottom: 100px;
  background-color: rgb(255 212 229);
}

.Contact_button {
  background-color: var(--secondary_color);
  color: white;
  padding: 12px 20px;
  margin-left: 13px;
  margin-bottom: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Contact_button:hover {
  background-color: var(--main_color);
}

.optional::after {
  content: " : Facultatif";
  color: var(--main_color);
}

#select_default {
  display: none;
}

#fixN-contact {
  display: flex;
  justify-content: center;
  height: 52px;
}

#N-contact {
  position: absolute;
  width: 60%;
  background-color: var(--main_color);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  overflow: hidden;
  height: 52px;
  flex-direction: column;
  transition: height 1s, transform 1s;
  z-index: 1;
}

/*VERSION MOBILE UNIQUEMENT*/
@media (max-width: 1000px) {
  #N-contact {
    width: 98%;
  }
}

#N-contact:hover {
  height: 264px;
  transform: translateY(-212px);
}

#Inscription #N-contact:hover {
  height: 274px;
}

#N-contact > span {
  width: 100%;
  padding: 10px;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

#N-contact > span > span {
  animation-name: dring-dring;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dring-dring {
  0% {
    transform: rotateZ(0deg);
  }
  2% {
    transform: rotateZ(20deg);
  }
  4% {
    transform: rotateZ(-20deg);
  }
  6% {
    transform: rotateZ(15deg);
  }
  8% {
    transform: rotateZ(-15deg);
  }
  10% {
    transform: rotateZ(10deg);
  }
  12% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#N-contact > div {
  background-color: var(--secondary_color);
  width: 100%;
  height: 100%;
}

#N-contact > div > section {
  color: white;
  text-align: center;
  padding: 17px;
}

#N-contact hr {
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
}

#N-contact ul {
  list-style: none;
}

#N-contact li {
  color: white;
}

#N-contact strong {
  color: var(--NcontactColor);
}

#N-contact p {
  color: white;
  margin: 7px;
  text-align: center;
}

#N-contact p:hover strong,
#N-contact li:hover > strong {
  animation-name: wave-color2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wave-color2 {
  0% {
    color: var(--main_color);
  }
  50% {
    color: white;
  }
  100% {
    color: var(--main_color);
  }
}

button[disabled] {
  background-color: white;
  color: var(--secondary_color);
}

/*##################################################*/
/*MAIN Inscription ---------------------------------*/
/*##################################################*/
#Inscription #content {
  display: flex;
}

#Inscription #content form {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

#Inscription #content #FLna {
  flex-direction: row;
  justify-content: space-between;
}

.formRow2 {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 47%;
}

#Inscription #content form hr {
  width: 92%;
  height: 1px;
  background-color: #cfcfcf;
  margin-right: 3px;
  margin-left: 3px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: initial;
  border-width: 0px;
}

.formCheck {
  display: flex;
  flex-direction: row;
  padding: 13px;
  padding-top: 0;
  padding-bottom: 0;
  height: 41px;
}

.formCheck input {
  border: solid 1px #cfcfcf;
}

.formCheck label {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.formCheck a {
  color: var(--main_color);
}

#SE div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#SE input {
  margin-block-start: 4px;
  margin-inline-end: 5px;
}

#SE > div label {
  font-size: medium;
}

#IM > input{
  color: var(--input_login_color_text);
}

#Pic_div {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

#display {
  margin: 0 !important;
  margin-block-start: 10px !important;
  margin-block-end: 10px !important;
  border: solid 5px var(--secondary_color);
  width: 55%;
  height: auto;
}

#Hobbies > div label, #HO > div label {
  font-size: medium;
}

#FavColor input, #CO input {
  width: 100%;
  height: 49px;
  padding: 3px;
}

#label_help {
  display: flex;
  flex-direction: row;
}

#label_help label {
  margin-right: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 75%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*VERSION MOBILE UNIQUEMENT*/
@media (max-width: 450px) {
  #FLna {
    flex-direction: column !important;
  }

  #FLna > div:first-child {
    padding-bottom: 13px;
  }

  #FLna div {
    width: 100%;
  }
}

/*##################################################*/
/*MAIN Article -------------------------------------*/
/*##################################################*/

.article_nav nav {
  background-color: rgba(0, 0, 0, 0);
}

.article_nav nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  min-height: 34px;
}

.article_nav nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 74px;
  width: 100%;
  overflow: hidden;
}

.article_nav ul li:first-child {
  border-bottom-left-radius: 10px;
}

.article_nav ul li:last-child {
  border-bottom-right-radius: 10px;
}

.article_nav nav a {
  background-color: var(--secondary_color);
  color: white;
  transition: color 1s, background-color 1s;
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.article_nav nav a:hover {
  background-color: var(--main_color);
  color: black;
}

#Article_Main h3 {
  padding-top: 5px;
  margin-left: 15px;
}

#Article_Main .articleBody ul {
  text-align: center;
  font-size: large;
  font-variant: small-caps;
  list-style: none;
}

.credit {
  padding-top: 2px;
  margin-left: 15px;
  font-size: larger;
}

.credit a {
  color: var(--main_color);
}

.intro-pic img {
  margin: 0;
}

@media (min-width: 1000px) {
  .intro-pic img {
    margin: 0;
  }
}

.share {
  border-radius: 10px;
  background-color: rgba(230, 37, 113, 50%);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.share p {
  margin-inline-start: 20px;
  margin-block-start: 25px;
  width: 20%;
}

.share div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.share a {
  width: 34%;
  text-align: center;
}

.share a:hover {
  background-color: rgba(154, 1, 23, 50%);
}

.share a svg {
  height: 100%;
  width: 28%;
}

#Article_Main aside {
  display: flex;
  flex-direction: column;
}

#Article_Main aside > h2 {
  text-decoration: none;
}

#Article_Main aside > h2 a {
  font-size: smaller;
  color: var(--mostread_color);
  text-decoration: none;
}

#Article_Main aside > span {
  height: 10px;
  width: 100%;
  background-color: var(--main_color);
  display: flex;
}

#Article_Main aside > span > span {
  height: 10px;
  width: 25%;
  background-color: white;
  animation-name: anime_span;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes anime_span {
  0% {
    margin-left: 0;
    width: 0;
  }
  50% {
    margin-left: 0;
    width: 100%;
  }
  100% {
    margin-left: 100%;
    width: 0;
  }
}

#tous-les-commentaires > div {
  background-color: rgba(154, 1, 23, 75%);
  border-radius: 40px;
  margin-block-start: 22px;
  display: flex;
  overflow: hidden;
}

@media (max-width: 450px) {
  #tous-les-commentaires > div {
    flex-direction: column;
  }
}

#tous-les-commentaires > div .bloc-contenu {
  background-color: var(--comment_color);
  padding-block-end: 10px;
}

#tous-les-commentaires > div div:first-child a {
  display: flex;
  width: 170px;
  padding: 13px;
  justify-content: center;
}

@media (min-width: 1000px) {
  #tous-les-commentaires > div div:first-child img {
    margin: 0;
  }
}

#tous-les-commentaires > div div:first-child a:not(:first-child) {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  text-align: center;
  color: black;
  font-size: larger;
  text-decoration: none;
}

.bloc-contenu div:last-child {
  float: right;
  margin-right: 53px;
  margin-bottom: 5px;
  font-size: large;
}

.bloc-contenu div:last-child a {
  color: white;
  text-decoration: none;
  background-color: var(--secondary_color);
  padding: 8px;
  padding-inline-start: 10px;
  border-radius: 18px;
  padding-inline-end: 10px;
}

.bloc-contenu div:last-child a:hover {
  text-decoration: underline;
}

/*##################################################*/
/*MAIN Blog ----------------------------------------*/
/*##################################################*/
.searchBar {
  width: 100%;
  margin-block-start: 15px;
  height: 39px;
  display: flex;
  border: solid 2px var(--secondary_color);
  border-radius: 15px;
  overflow: hidden;
}

.searchBar input {
  padding-inline-start: 11px;
  width: 90%;
  height: 39px;
  font-size: larger;
  border: none;
  color: black;
}

.searchBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 10%;
  border: none;
  font-size: x-large;
  background-color: var(--secondary_color);
  transition: background-color 0.5s;
}

.searchBar button:hover {
  background-color: var(--main_color);
}

#magnifying_glass {
  position: absolute;
  animation-name: rotate_MG;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes rotate_MG {
  0% {
    transform: rotateZ(0deg);
  }
  6% {
    transform: rotateZ(380deg);
  }
  7% {
    transform: rotateZ(345deg);
  }
  8% {
    transform: rotateZ(370deg);
  }
  9% {
    transform: rotateZ(355deg);
  }
  10% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#Blog h2 {
  margin-block-end: 5px;
}

#most_recent div {
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: none;
  object-position: center;
}

@media (max-width: 500px) {
  #most_recent div {
    height: 185px;
  }
}

#most_recent div img {
  width: 120%;
}

#most_recent div:hover img {
  filter: blur(5px);
  max-width: 140%;
}

#most_recent div span {
  display: none;
  position: absolute;
  background-color: var(--main_color);
  padding: 8px;
  border-radius: 18px;
  height: 22px;
}

#most_recent div:hover span {
  display: flex;
  border: solid 2px white;
  animation-name: border-wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes border-wave {
  0% {
    border: solid 2px white;
  }
  50% {
    border: solid 5px white;
  }
  100% {
    border: solid 2px white;
  }
}

#most_recent div a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

#blog-atc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.blog-a {
  display: flex;
  flex-direction: column;
  margin-block-start: 10px;
  margin-block-end: 10px;
  height: 300px;
  width: 28%;
  background-color: var(--blog_article_color);
  border-radius: 36px;
  overflow: hidden;
}

.blog-a>div{
  height:90%;
  overflow: hidden;
}

.blog-a img {
  display: block;
  margin: 0;
  border-radius: 0;
  width: 100%;
  block-size: 153px;
  object-fit: cover;
  object-position: center;
}

.atc-title {
  padding: 8px;
  font-size: larger;
  font-weight: bold;
  height: 15%;
}

.atc-desc {
  overflow: hidden;
  text-align: justify;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-align: justify;
  font-size: smaller;
  height: 30%;
  overflow: hidden;
  margin-bottom: 2px;
}

.blog-a a {
  position: relative;
  background-color: var(--main_color);
  padding: 8px;
  height: 10%;
  text-align: center;
  font-size: x-large;
  color: white;
  text-decoration: none;
  transition: background-color 1s;
}

.blog-a a:hover {
  background-color: var(--secondary_color);
}

#pagination {
  text-align: center;
  margin-block-start: 10px;
}

#pagination div {
  display: inline-block;
}

#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
  font-size: larger;
  background-color: white;
}

#pagination a:hover {
  background-color: var(--main_color) !important;
  color: white !important;
  border: 1px solid var(--main_color) !important;
}

#pag_active {
  background-color: var(--secondary_color) !important;
  color: white !important;
  border: 1px solid var(--secondary_color) !important;
}

@media (max-width: 600px) {
  #blog-atc {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-a {
    width: 55%;
  }
}

/*##################################################*/
/*MAIN Presentation --------------------------------*/
/*##################################################*/

#Presentation section {
  padding: 0;
  display: flex;
  justify-content: center;
}

#Presentation ul {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-inline-start: 10%;
  margin-bottom: 20px;
  text-align: center;
  list-style: none;
  font-size: larger;
  margin-block-start: 10px;
}

#Presentation ul img {
  width: 50%;
  margin: 0;
  padding: 10px;
  background-color: var(--secondary_color);
}

#Presentation h3 {
  margin-left: 20px;
  margin-block-start: 10px;
  margin-block-end: 5px;
}

@media (min-width: 1000px) {
  #Presentation h3 {
    margin-left: 40px;
  }
}

#Aside_Context section div {
  margin-block-start: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

#Aside_Context section > p {
  margin-block-start: 15px;
  font-size: large;
  text-align: center;
}

#Aside_Context section > a {
  margin-block-start: 20px;
  background-color: var(--main_color);
  margin-inline: 50px;
  text-align: center;
  padding: 35px;
  font-size: xx-large;
  border-radius: 40px;
  text-decoration: none;
}

/*##################################################*/
/*MAIN Chiffre -------------------------------------*/
/*##################################################*/

#Chiffres {
  width: 99vw;
}

#Chiffres #content {
  display: flex;
  align-items: center;
}

table {
  margin-block: 20px;
  background-color: var(--main_content_color);
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--main_color);
}

thead th {
  border: none;
  padding: 8px;
  font-size: large;
}

table tbody td {
  border: none;
  padding: 8px;
  font-size: medium;
}

table tbody tr:nth-child(odd) {
  background-color: var(--table_odd);
}

table tbody tr:nth-child(even) {
  background-color: var(--table_even);
}

table tbody tr:hover {
  background-color: var(--select_tr);
}

/*Petit écran et mobile*/
@media (max-width: 700px), (min-width: 1090px) and (max-width: 1155px) {
  #Chiffres_table thead {
    display: none;
  }

  #Chiffres_table tr {
    display: block;
    margin-bottom: 40px;
  }

  #Chiffres_table td {
    display: block;
    text-align: right;
  }

  #Chiffres_table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  #Chiffres_table tbody td:first-child {
    width: 97%;
  }
}

#Aside_Context {
  display: flex;
  width: 50vw;
  position: absolute;
  top: 0px;
  transform: translateX(calc(100vw - 75px));
  height: 100%;
  transition: transform 0.5s;
}

#Aside_Context span {
  font-size: xx-large;
  background-color: var(--aside_color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 44px;
  padding: 10px;
  cursor: pointer;
}

#Aside_Context section {
  background-color: var(--aside_color);
  display: flex;
  justify-content: flex-start;
  width: 50vw;
}

@media (max-width: 700px) {
  #Aside_Context {
    width: calc(100vw - 75px);
  }

  #Aside_Context section {
    width: calc(100vw - 75px);
  }
}

#Aside_Context section > p {
  color: white;
}

#Aside_Context ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#Aside_Context ul li {
  display: flex;
  background-color: var(--main_color);
  border-radius: 12px;
  margin-inline: 25px;
  margin-block: 10px;
}

#Aside_Context ul li a {
  padding: 13px;
  text-decoration: none;
}

#Aside_Context ul li a strong {
  color: var(--aside_color);
  font-weight: bolder;
}

#MainAside {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*Pour mettre le aside en de la page en mode mobile*/
/*Seulement Chiffre et Présentation*/
@media (max-width: 450px) {
  #MainAside {
    display: flex;
    flex-direction: column;
  }

  #Aside_Context {
    position: initial;
    width: 100%;
    transform: none;
  }

  #Aside_Context span {
    display: none;
  }

  #Aside_Context section {
    width: 100%;
  }
}

/*##################################################*/
/*MAIN ReturnForm -------------------------------------*/
/*##################################################*/

#ReturnForm #content{
  overflow: hidden;
}

.RForm_table thead {
  float: left;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.RForm_table thead th {
  display: block;
  height: 21px;
}

.RForm_table tbody {
  float: right;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.RForm_table tbody td {
  display: block;
  text-align: end;
  padding: 8px;
  width: 95%;
  height: 21px;
  overflow-wrap: anywhere;
}

#next_button{
  font-size: x-large;
  padding: 5px;
  background-color: var(--main_color);
  text-align: center;
  margin-inline: 33%;
  border-radius: 12px;
  text-decoration: none;
}

#next_button:hover{
  text-decoration: underline;
}

/*##################################################*/
/*MAIN Connexion & CreateArticle--------------------*/
/*##################################################*/
#Connexion #content {
  align-items: center;
}

#Connexion form {
  width: 80%;
  border: 3px solid var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
  margin-block: 25px;
}

#Connexion form h2 {
  margin-bottom: 10px;
}

.specialFocus{
  position: relative;
}

.specialFocus label:not([class="container"]){
  position: absolute;
  color: #979797;
  top: 23px;
  left: 25px;
  font-size: larger;
  background-color: var(--main_content_color, rgba(255, 35, 5, 15%));
  transition: top 0.5s, font-size 0.5s;
}

#Connexion form input, #createArticle form input {
  z-index: 1;
  border-radius: 5px;
  color: var(--input_login_color_text, black);
  background-color: rgba(0, 0, 0, 0);
}

#Connexion form .formRow input, #createArticle form .formRow input {
  border: solid 1px #979797;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px
    var(--main_content_color, rgba(255, 35, 5, 15%)) inset !important;
  -webkit-text-fill-color: var(--input_login_color_text, black) !important;
}

.specialFocus input[class="completed"] ~ label,
.specialFocus input:focus ~ label {
  z-index: 2;
  top: 2px !important;
  font-size: initial !important;
  padding-inline: 4px;
  color: var(--input_color);
}

#Connexion form .container {
  font-size: large;
  margin-inline-start: 13px;
}

#Connexion form > a, #createArticle form > a {
  text-decoration: none;
  float: left;
  margin-block: 10px;
}

#Connexion form > button, #createArticle form > button {
  float: right;
  margin-right: 13px;
  margin-block: 10px;
}

#createArticle form p{
  margin: 10px;
  font-size: initial;
}

/*##################################################*/
/*MAIN deleteArticle -------------------------------*/
/*##################################################*/

.arti{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-block: 15px;
  background-color: white;
  align-items: center;
  overflow: hidden;
}

.arti > img{
  margin: 0;
  width: 20%;
  border-radius: 0;
  object-fit: cover;
  object-position: center;
}

.arti > p{
  color: black;
  font-size: larger;
  margin: 0;
  width: 70%;
  text-align: end;
  padding-inline-end: 10px;
}

.arti > div{
  height: 100%;
  background-color: red;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arti > div > a{
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
}

/*##################################################*/
/*MAIN Account -------------------------------------*/
/*##################################################*/

#Account #content > div {
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  height: 100%;
}

#Account #content > div > div {
  background-color: var(--secondary_color);
  width: 50%;
  border-radius: 52px;
  display: flex;
  height: 100%;
}

#Account #content > div img {
  margin: 10%;
  border-radius: 50%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

#Account #content > div > section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#Account #content > div > section > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  font-size: larger;
}

@media (max-width: 450px){
  #Account #content > div{
    flex-direction: column;
  }

  #Account #content > div > div{
    width: 100%;
  }

  #Account #content > div > section{
    width: 100%;
  }
}

/*###############################################################################*/
/*###############################################################################*/
/*FOOTER*/
/*###############################################################################*/
/*###############################################################################*/

footer {
  position: relative;
  background-color: black;
  padding-bottom: 10px;
  z-index: 2;
}

footer a {
  color: white;
}

footer p {
  color: white;
}

footer li {
  color: white;
}

#article_contact {
  display: flex;
  justify-content: space-around;
}

#article_contact > a {
  position: relative;
  margin-top: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 1s, color 1s;
}

#article_contact > a:hover {
  background-color: var(--main_color);
  color: white;
}

#article_contact > a span {
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: var(--secondary_color);
  text-align: center;
  height: 10px;
  width: 0vw;
  transition: width 1s;
}

#article_contact > a:hover span {
  width: 100vw;
}

#article {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  overflow: visible;
}

#article > p {
  position: relative;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  transition: background-color 1s, color 1s;
}

#article > p:hover {
  background-color: var(--main_color);
  color: white;
}

#article span {
  position: absolute;
  top: 48px;
  left: 0px;
  background-color: var(--secondary_color);
  text-align: center;
  height: 10px;
  width: 0vw;
  transition: width 1s;
}

#article > p:hover span {
  width: 100vw;
}

#article-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  width: 100%;
  left: -100%;
  top: -158px;
  transition: width 1s;
}

#article:hover #article-content {
  width: 200%;
}

#article-content:hover {
  width: 200%;
}

#article:hover #li3 {
  margin-bottom: 5px;
}

#article-content > li {
  position: initial;
  background-color: var(--main_color);
  padding: 15px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 2px;
  margin-left: 0px;
  margin-right: 0px;
  width: 50%;
}

#article-content > li:hover {
  background-color: var(--secondary_color);
}

#li1 {
  transition: margin 0.5s 0.75s;
}

#li2 {
  transition: margin 0.5s 0.5s;
}

#li3 {
  transition: margin 0.5s 0.1s;
}

#article:hover #li1 {
  margin-left: 50%;
}

#article:hover #li2 {
  margin-left: 50%;
}

#article:hover #li3 {
  margin-left: 50%;
}

#article-content a {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 15px;
  padding-right: 65%;
  padding-left: 15%;
  margin: 2px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

#link1 {
  animation-name: l1;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes l1 {
  0% {
    padding-right: 55%;
  }
  20% {
    padding-right: 60%;
  }
  40% {
    padding-right: 53%;
  }
  60% {
    padding-right: 57%;
  }
  80% {
    padding-right: 50%;
  }
  100% {
    padding-right: 55%;
  }
}

#link2 {
  animation-name: l2;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes l2 {
  0% {
    padding-right: 55%;
  }
  20% {
    padding-right: 60%;
  }
  40% {
    padding-right: 53%;
  }
  60% {
    padding-right: 57%;
  }
  80% {
    padding-right: 50%;
  }
  100% {
    padding-right: 55%;
  }
}

#link3 {
  animation-name: l3;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes l3 {
  0% {
    padding-right: 55%;
  }
  20% {
    padding-right: 60%;
  }
  40% {
    padding-right: 53%;
  }
  60% {
    padding-right: 57%;
  }
  80% {
    padding-right: 50%;
  }
  100% {
    padding-right: 55%;
  }
}

@media (max-width: 1000px) {
  @keyframes l1 {
    0% {
      padding-right: 45%;
    }
    20% {
      padding-right: 50%;
    }
    40% {
      padding-right: 43%;
    }
    60% {
      padding-right: 47%;
    }
    80% {
      padding-right: 40%;
    }
    100% {
      padding-right: 45%;
    }
  }

  @keyframes l2 {
    0% {
      padding-right: 45%;
    }
    20% {
      padding-right: 50%;
    }
    40% {
      padding-right: 43%;
    }
    60% {
      padding-right: 47%;
    }
    80% {
      padding-right: 40%;
    }
    100% {
      padding-right: 45%;
    }
  }

  @keyframes l3 {
    0% {
      padding-right: 45%;
    }
    20% {
      padding-right: 50%;
    }
    40% {
      padding-right: 43%;
    }
    60% {
      padding-right: 47%;
    }
    80% {
      padding-right: 40%;
    }
    100% {
      padding-right: 45%;
    }
  }
}

@media (max-width: 600px) {
  @keyframes l1 {
    0% {
      padding-right: 35%;
    }
    20% {
      padding-right: 40%;
    }
    40% {
      padding-right: 33%;
    }
    60% {
      padding-right: 37%;
    }
    80% {
      padding-right: 30%;
    }
    100% {
      padding-right: 35%;
    }
  }

  @keyframes l2 {
    0% {
      padding-right: 35%;
    }
    20% {
      padding-right: 40%;
    }
    40% {
      padding-right: 33%;
    }
    60% {
      padding-right: 37%;
    }
    80% {
      padding-right: 30%;
    }
    100% {
      padding-right: 35%;
    }
  }

  @keyframes l3 {
    0% {
      padding-right: 35%;
    }
    20% {
      padding-right: 40%;
    }
    40% {
      padding-right: 33%;
    }
    60% {
      padding-right: 37%;
    }
    80% {
      padding-right: 30%;
    }
    100% {
      padding-right: 35%;
    }
  }
}

#contact-footer-button {
  z-index: 3;
}

#contact-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(75vw - 45vw / 2);
  background-color: white;
  width: 45vw;
  justify-content: center;
  opacity: 0%;
  transition: transform 0.5s, opacity 0.5s;
}

#contact-info ul {
  list-style: none;
  text-align: center;
  padding-block: 10px;
}

#contact-info li {
  padding-block: 5px;
}

#contact-info ul li a {
  color: black !important;
  text-decoration: none !important;
}

#contact-info span {
  width: 100%;
  background-color: var(--main_color);
  animation-name: contact_info_span;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes contact_info_span {
  0% {
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  20% {
    padding-bottom: 15px;
    margin-bottom: 0px;
  }
  40% {
    padding-bottom: 8px;
    margin-bottom: 7px;
  }
  60% {
    padding-bottom: 13px;
    margin-bottom: 2px;
  }
  80% {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  100% {
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
}

#contact-footer-button:hover ~ #contact-info,
#contact-info:hover {
  transform: translateY(-85px);
  margin-block-end: 5px;
  opacity: 100%;
}

#contact-info:hover > span {
  background-color: var(--secondary_color);
}

#Copyright {
  position: relative;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

#Copyright > span {
  position: absolute;
  transform: translateY(-10px);
  background-color: white;
  border-radius: 2px;
  left: calc(50% - 50px);
  width: 100px;
  height: 2px;
  animation-name: span-footer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes span-footer {
  0% {
    left: calc(50% - 50px);
    width: 100px;
  }
  25% {
    left: calc(50% - 100px);
    width: 200px;
  }
  50% {
    left: calc(50% - 25px);
    width: 50px;
  }
  75% {
    left: calc(50% - 150px);
    width: 300px;
  }
  100% {
    left: calc(50% - 50px);
    width: 100px;
  }
}

/*VERSION MOBILE UNIQUEMENT*/
@media (max-width: 450px) {
  #article_contact {
    flex-direction: column;
  }

  #article:hover #li1 {
    margin-left: 47%;
  }

  #article:hover #li2 {
    margin-left: 47%;
  }

  #article:hover #li3 {
    margin-left: 47%;
  }

  #contact-info {
    width: 90vw;
    left: 5vw;
  }

  #contact-footer-button:hover ~ #contact-info {
    transform: translateY(-115px);
  }

  @keyframes span-footer {
    0% {
      left: calc(50% - 45px);
      width: 90px;
    }
    25% {
      left: calc(50% - 95px);
      width: 190px;
    }
    50% {
      left: calc(50% - 20px);
      width: 40px;
    }
    75% {
      left: calc(50% - 125px);
      width: 250px;
    }
    100% {
      left: calc(50% - 45px);
      width: 90px;
    }
  }
}
